

<div class="header">
  <p> Step 3 to 3</p>
  <h1> Tell your participants who you are ? </h1>
</div>
<%= simple_form_for [@event, @user] do |f| %>
  <div class="form">
    <div class="form-container">
      <i class="fas fa-user" style="color:gray"></i><%= f.input :name, placeholder: 'Enter name', label: false %>
    </div>
    <div class="form-container">
      <i class="fas fa-smile" style="color:gray"></i><%= f.input :role, placeholder: 'Enter role', label: false %>
    </div>
    <div class = "sub-button-form">
      <%= f.button :submit, class: @event.first_step? ? 'button' : 'buttonval',
        id: "buttonvalformuser",
        disabled: @event.first_step? %>
    </div>
  </div>
<% end %>

