

<p> Step 1 to 3</p>
<h1> Tell your participants who you are ? </h1>
<%= simple_form_for [@event, @user] do |f| %>
  <div class="form">
    <div class="form-container">
      <%= f.input :name %>
    </div>
    <div class="form-container">
      <%= f.input :role %>
    </div>
    <div class = "sub-button-form">
      <%= f.button :submit, class: 'button' %>
    </div>
  </div>
<% end %>



