<h1>Users#create</h1>
<p>Find me in app/views/users/create.html.erb</p>

<%= simple_form_for([@event, @user]) do |f| %>
    <%= f.input :name %>
    <%= f.input :role %>
    <%= f.button :submit %>
<% end %>


