<div class="navbar navbar-expand-md navbar-light navbar-lewagon">

<div class="navbar-brand">
  <%= link_to "/" do %>
    <h2 id="logo">COACH<span class="red-text">BY</span></h2>
  <% end %>

</div>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-caret-down"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "Home", "/", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Blog", "/", class: "nav-link" %>
      </li>



    </ul>
  </div>
</div>
