
<div class="header">
  <p> Step 1 to 3</p>
  <h1> What's the occasion ?</h1>
</div>

  <div class="form-container">
    <i class="fas fa-grip-lines" style="color:gray"></i> <%= f.input :name, placeholder: 'Enter title', label: false %>
  </div>
  <div class="form-container">
    <i class="fas fa-map-marker" style="color:gray"></i> <%= f.input :place, placeholder: 'Add location', label: false %>
  </div>
  <div class="form-container-note">
    <i class="fas fa-align-justify" style="color:gray"></i> <%= f.input :note, placeholder: 'Add note', label: false %>
  </div>


