<p> Step 1 to 4</p>
<h1> What's the occasion ?</h1>

  <div class="form-container">
    <%= fa_icon("times") %> <%= f.input :name, placeholder: 'Enter title', label: false %>
  </div>
  <div class="form-container">
    <%= fa_icon("times") %> <%= f.input :place, placeholder: 'Add location', label: false %>
  </div>
