

<div class="header">
  <p> Step 2 to 3</p>
  <h1> What are the options?</h1>
</div>

<div class="form-container">
  <%= f.input :start_time, as: :date, html5: true, input_html: { id: "start_date" }, label: false, error: 'Please specify a date.' %>
</div>
