<p> Step 2 to 4</p>
  <h1> When's the occasion ?</h1>

    <div class="form-container">
      <%= f.input :start_time, as: :date, html5: true, label: false %>
    </div>
    <div class="form-container">
      <%= f.input :ending_at, as: :date, html5: true, label: false %>
    </div>
