

<!--
<%= simple_form_for @event do |f| %>

  <div class="form">
    <%= render :partial => "#{@event.current_step}_step"  %>
    <div class = "sub-button-form">
      <%= f.button :submit, class: 'button' %>
    </div>
  </div>
<% end %>
 -->
