
<div class="size-screen">
  <div class="page-content ">
    <%= simple_form_for @event do |f| %>
      <div class="form">
          <%= render "#{@event.current_step}_step", :f => f  %>
        <div class = "sub-button-form">
          <%= f.submit "back", class: 'back', label: false, :name => "back_button" unless @event.first_step?  %>
          <%= f.submit "Continue", class: 'button',
          id: "buttonvalform",
          disabled: @event.first_step? %>
        </div>
      </div>
    <% end %>
  </div>
</div>

