


<div class="page-content ">

  <%= simple_form_for @event do |f| %>
    <div class="form">
        <%= render "#{@event.current_step}_step", :f => f  %>
      <div class = "sub-button-form">
        <%= f.submit "back", class: 'button', :name => "back_button" unless @event.first_step?  %>
        <%= f.submit "continue", class: 'button' %>
      </div>
    </div>
  <% end %>
</div>




