<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>


<h2> doodles </h2>


<% startdate = Date.new(@event.start_time.strftime("%y").to_i , @event.start_time.strftime("%m").to_i , @event.start_time.strftime("%d").to_i) %>
<% enddate = Date.new(@event.ending_at.strftime("%y").to_i , @event.ending_at.strftime("%m").to_i , @event.ending_at.strftime("%d").to_i)%>


<%= link_to "create user", new_event_user_path(@event) %>

<table class="doodles">
  <tr>
    <th>Participant</th>
    <% (startdate..enddate).each do |date| %>
      <th><%= date.strftime("%d/%m") %></th>
    <% end %>
  </tr>
  <tr>
    <td> <%= @user.name %> </td>
    <% (startdate..enddate).count.times do %>
       <td>50</td>
    <% end %>
  </tr>
</table>
