<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



<%= link_to "create and find date for an event", new_event_path %>


<% @events.each do |event| %>
  <ul>
    <li> <%= link_to event.name, event_path(event) if event   %> (<%= event.start_time.strftime("%d/%m/%y") if event   %> - <%= event.ending_at.strftime("%d/%m/%y") if event  %>) </li>
  </ul>
<% end %>
