.margin {
  margin-top: 30px;
}

.whitebutton a {
  color: white;
  font-weight: bold;
  padding:10px 10px;
  font-size: 32px;
  margin-top: 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.whitebutton a:hover {
  color: white;
  font-weight: bold;
  padding:10px 10px;
  font-size: 32px;
  border: 2px solid white;
  border-radius:5px;
}

.blackbutton a {
  color: black;
  font-weight: bold;
  padding:10px 10px;
  font-size: 32px;
  margin-top: 30px;
}

.blackbutton a:hover {
  color: black;
  font-weight: bold;
  padding:10px 10px;
  font-size: 32px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius:5px;
}

.button {
  background-color: rgba(106, 118, 133,0.5);
  color: rgba(0, 0, 0,0.5);
  font-weight: bold;
  padding:10px 10px;
  font-size: 16px;
  width: 120px;
  border:none;
  border-radius: 5px;
}

.buttonval {
  background-color: rgba(110, 169, 20,1);
  color: white;
  font-weight: bold;
  padding:10px 10px;
  font-size: 16px;
  width: 120px;
  border:none;
  border-radius: 5px;}

.buttonval:hover {
  background-color: rgba(110, 169, 20,0.5);
  color: white;
  font-weight: bold;
  padding:10px 10px;
  font-size: 16px;
  width: 120px;
  border:none;
  border-radius: 5px;
}

.back {
  background-color: white;
  border: solid rgba(106, 118, 133,1) 1px;
  color: rgba(106, 118, 133,1);
  font-weight: bold;
  padding:8px 10px;
  margin-right: 20px;
  font-size: 16px;
  border-radius: 5px;
}

.back:hover {
  background-color: rgba(106, 118, 133,0.1);
  border: solid rgba(106, 118, 133,1) 1px;
  color: rgba(106, 118, 133,0.8);
  font-weight: bold;
  padding:8px 10px;
  font-size: 16px;
  border-radius: 5px;
}



