
.button {
  background-color: rgba(106, 118, 133,0.5);
  color: rgba(0, 0, 0,0.5);
  font-weight: bold;
  padding:10px 10px;
  font-size: 16px;
  width: 120px;
  border:none;
  border-radius: 5px;
}

.buttonval {
  background-color: rgba(110, 169, 20,1);
  color: white;
  font-weight: bold;
  padding:10px 10px;
  font-size: 16px;
  width: 120px;
  border:none;
  border-radius: 5px;}

.buttonval:hover {
  background-color: rgba(110, 169, 20,0.5);
  color: white;
  font-weight: bold;
  padding:10px 10px;
  font-size: 16px;
  width: 120px;
  border:none;
  border-radius: 5px;
}


.back {
  background-color: white;
  border: solid rgba(106, 118, 133,1) 1px;
  color: rgba(106, 118, 133,1);
  font-weight: bold;
  padding:8px 10px;
  margin-right: 20px;
  font-size: 16px;
  border-radius: 5px;
}

.back:hover {
  background-color: rgba(106, 118, 133,0.1);
  border: solid rgba(106, 118, 133,1) 1px;
  color: rgba(106, 118, 133,0.8);
  font-weight: bold;
  padding:8px 10px;
  font-size: 16px;
  border-radius: 5px;
}



