

.part-number-calendar {
  color: black;
  font-weight: bold;
  font-size: 12px;

  p {
    margin:0;
  }
}

.cal-here {
  background-color: rgb(206, 230, 161);
}


.cal-nothere {
  background-color: rgb(244, 209, 202);
}
