
.doodles-calendar {
  table-layout: fixed;
  width: 200px;
  margin-bottom: 20px;


  th, td {
    text-align: center;
    width: 100px;
    height: 50px;
  }

  table, th, td {
    border: 1px solid #E0E0E0;
  }

  .wide {
    width: 180px;
  }

  tr:first-child {
    height: 100px;
    border-bottom: 3px solid white;
  }

  td:first-child {
    width: 180px;
    height:50px;
  }
}

table.doodles-calendar > tbody tr > td:first-child {
  position: absolute;
  background-color: white;
}

table.doodles-calendar > tbody tr th:first-child   {
  position: absolute;
  background-color: white;
  width: 180px;
  height: 103px;
}


.part-number-calendar {
  color: black;
  font-weight: bold;
  font-size: 12px;
  margin:0px;
  padding: 0px;

  p {
    margin:0;
  }
}

.cal-here {
  background-color: rgb(206, 230, 161);
  height: 50px;
}


.cal-nothere {
  background-color: rgb(244, 209, 202);
  height: 50px;
}
