.container {
    /* On ajoute une marge sur les cotés de l'écran */
    padding-right: 15px;
    padding-left: 15px;

    /* Et on centre */
    margin-right: auto;
    margin-left: auto;
}

.page-content {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // padding:10px;
  border-radius: 5px;
  text-align:center;
  width: 826px;
  height: 508px;
  margin: 50px auto;
  padding-top: 50px;
  background-color: white;
}

.edt {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  min-height: 80vh;
  height: auto;
  margin: 50px auto;
  padding: 50px 0;
  background-color: white;
  width:100%;
}

.edt-info-container {
  display:flex;

  p {
    padding-left:20px;
    text-align: justify;
  }
}

.edt-diplay {
  display: flex;
  justify-content: space-around;
}

/* Sur les grands écrans, on limite la largeur du contenu */
@media (min-width: 1200px){
  .container {
    width: 1170px;
  }

  .edt {
    width: 800px;
  }
}

@media screen and (max-width: 800px){
  .info {
    flex-direction: column;
  }
  .picture {
    margin: auto;
  }

  h3 {
    margin-top: 15px;
  }
}



