.footer {
  background-color: #171717;
}

.footer-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  p {
    color: #808080;
    margin: 0px;
    &:hover {
      color: #F5F3F2;;
    }
  }
}

.footer-nav {
  p {
    padding: 16px 32px;
  }
}

.footer-social {
  p {
    font-size: 24px;
    padding: 16px 8px;
  }
}
