
.form-info {
}

.form {
  display: inline-block;
  width: 640px;
}

.form-container {
  padding: 10px 0px;
  display: flex;

  div {
    padding-left: 15px;
  }

  input {
    padding: 15px;
    width: 600px;
    border: none;
    border-bottom: 1px solid gray;
    height: 0px;
  }
}

.form-container-note {
  padding: 10px 0px;
  display: flex;

  div {
    padding-left: 15px;
  }

  textarea {
    width: 600px;
    border: 1px solid #555;
  }
}


.sub-button-form {
  display:flex;
  justify-content:flex-end;
  margin-top: 20px;
  width:100%;
}
