
.form-info {
}

.form {
  display: inline-block;
  width: 640px;
}

  .form-container {
    padding:10px;
    display: flex;
    justify-content: space-around;

  i {
    width:20px;
  }


  input {
    padding:8px;
    width: 640px;
    border: none;
    border-bottom: 1px solid gray;
  }
}

.sub-button-form {
  display:flex;
  justify-content:flex-end;
  margin-top: 20px;
}
