
.form-info {
}

.form {
  display: inline-block;
  width: 640px;
}

  .form-container {
    padding:10px;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;

  input {
    padding:10px;
    width: 600px;
    border: none;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    height: 0px;
  }
}

.sub-button-form {
  display:flex;
  justify-content:flex-end;
  margin-top: 20px;
  width:100%;
}


  i {
    width:20px;
    vertical-align: middle;
    color: rgb(59, 91, 152);
  }
