
@import "button";
@import "container";
@import "form";
@import "table-doodle";
@import "show-event";
@import "calendar";
@import "navbar";
@import "footer";
@import "landing";


// general setting

h1 {
  text-align:center;
}

body {
  background-color: rgb(240, 240, 240);
}

a {
  text-decoration: none;
}
