
@import "button";
@import "container";
@import "form";
@import "table-doodle";
@import "show-event";
@import "calendar";


// general setting

h1 {
  text-align:center;
}

body {
  background-color: rgb(240, 240, 240);
}

