.flex_response {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    width: 200px;
    // display: grid;
  }
  span {
    margin-top: 10px;
  }

}

.kpi-section {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.metric_box {
  margin-bottom: 30px;
  width:15%;
  text-align: center;
  margin: auto;

  span {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    color:rgba(72, 99, 160,1);
  }

  p {
    font-size: 24px;
  }
}

.kpi {
  min-height: 200px;
  margin: auto;
  display: flex;
}

.kpi-title {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.faker {
  text-align: center;
  font-size: 18px;
  color: grey;
  padding-bottom: 15px;
  margin: 0;
}
