
.font {
  width: 100%;
  background-image: image-url("onu1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: bottom;
}

.intro {
    padding-top: 10%;
    padding-bottom: 20%;

  h1,h2 {
    color: white;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  }

  a {
    padding-top:20px;
  }
}

.intro-message {
  width: 100%;
  padding: 50px 0;
  margin-right: auto;
  margin-left: auto;
}

.sub {
  width: 100%;
  padding: 50px 0;
  background-color: #f8f8f8;
  margin-right: auto;
  margin-left: auto;
}

.info {
  display: flex;
  justify-content: space-around;
}

.picture {
  width: 100%;

  img {
    width: 100%;
  }
}

.text {
}

.rigth-t{
  margin-left: 50px;
}

.left-t{
  margin-right: 50px;
}


.sub {
  border-bottom: 1px solid gray;
  padding-bottom:20px;
}

.sub:nth-child(odd) {
  background-color: #F8F8F8;
}
