// Main Classes
.navbar {
  padding: 0.4rem 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// Links
.navbar-light .navbar-toggler {
  color: #EF4B2A;
}

.navbar-light .navbar-nav .nav-link {
  margin: 0px 4px;
  color: #808080;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #EF4B2A;
}

// Content
#logo {
  letter-spacing: 0.2em;
  margin: 0px;
}

.avatar {
  padding: 4px 4px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
