.edt-header{
  display: flex;
  justify-content:center;

  p {
    padding-left: 10px;
  }
}

.edt-info {
  padding-left:100px;
  margin-bottom: 30px;
}

.fa fa-circle {
    // padding-left: 10px;
    // padding-bottom: 2px;
    background-size: 10px;
}

.tabs {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display:flex;
  justify-content: space-around;

  li {
    list-style: none;
    color: #1944DA;
    border-bottom: 4px solid #1944DA;
    font-weight: bold;
  }
}

