.edt-header{
  display: flex;
  justify-content:center;

  p {
    padding-left: 10px;
  }
}

.edt-info {
  padding: 50px;
}


.limit{
    width:600px;
    word-wrap: break-word;
}

.fa fa-circle {
    // padding-left: 10px;
    // padding-bottom: 2px;
    background-size: 10px;
}

.tabs {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display:flex;
  justify-content: space-around;
}

.blue_link {
  list-style-type: none;
  text-decoration: none;
  list-style: none;
  color: #1944DA;
  border-bottom: 4px solid #1944DA;
  font-weight: bold;
}

.link {
  list-style: none;
  color: #1944DA;
  font-weight: bold;
}
