

table.doodles {
  margin-left:auto;
  margin-right:auto;
}


.edt-header{
  display: flex;
  justify-content:center;

  p {
    padding-left: 10px;
  }
}

.edt-info {
  padding-left:100px;
}


.fa fa-circle {
    // padding-left: 10px;
    // padding-bottom: 2px;
    background-size: 10px;
}
