
table, th, td {
  border: 1px solid gray;
}

.table-container {
  margin: 20px;
}

.doodles {
  table-layout: fixed;
  width: 200px;

  th, td {
  text-align: center;
  width: 80px;
  height: 40px;
  }

  .wide {
    width: 180px;
  }

  tr:first-child {
    height: 100px;
  }

  td:first-child {
    width: 180px;
    text-align: left;
    padding-left: 15px;
    height:50px;
  }
}

.date-cells {
  display:flex;
  flex-direction: column;

  p {
    margin: 0px;
    text-align: center;
    font-weight: bold;
    color:gray;
  }

  span {
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
}


.scroller {
  overflow-x: scroll;
  overflow-y: hidden;
}


.part-number {
  color: #1944DA;
  font-weight: bold;
  font-size: 20px;
}


.nothere {
  background-color: rgb(254, 246, 246);
}

.here {
  background-color: rgb(206, 230, 161);
  color: #169E1E;
  font-weight: bold;
  font-size: 20px;
}

