

<div class="size-screen">

  <%= simple_form_for ([@user,@uptime]) do |f| %>
    <div class="form">
      <div class="form-container">
        <%= f.input :start_time, as: :date, html5: true, input_html: { id: "start_date_user" } %>
      </div>

      <div class="sub-button-form">
        <%= f.submit "continue", class: 'button' %>
      </div>
    </div>
  <% end %>

</div>
